<nav class="navbar navbar__ts2 navbar-fixed-top">
  <div class="container-fluid navbar__ts2__containerFluid">
	  <div class="container navbar__ts2--container">
	  	<div class="navbar-header navbar__ts2--header">
	      <button (click) = "menuOpen()" type="button" class="navbar-toggle navbar__ts2--navbarToggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar navbar__ts2--iconBar"></span>
	        <span class="icon-bar navbar__ts2--iconBar"></span>
	        <span class="icon-bar navbar__ts2--iconBar"></span>
	      </button>
	      <a class="navbar-brand navbar__ts2--navbarBrand">Scaffold</a>
	    </div>
	    <div class="navbar__ts2__logo">
      	  <a href="http://www.verizon.com" target="_blank" class="vzbrand__container">
      		<img src="/assets/images/logo-vz-black.png" class="navbar__ts2__logo--img" alt="Verizon Logo">
      	  </a>
	    </div>
	  </div>
  </div>
</nav>

