<div class="container">
  <div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Detail</th>
        <th>TradeId</th>
        <th>Type</th>
        <th>CMNE</th>
        <th>P/S</th>
        <th>Ccy</th>
        <th>Amount</th>
        <th>Rate</th>
        <th>Ctr</th>
        <th>Value Date</th>
        <th>Markerter</th>
        <th>Type</th>
        <th>Source</th>
        <th>Final State</th>
        <th>isGroup</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a>217</a></td>
        <td>41224975</td>
        <td>FX</td>
        <td>A1132745</td>
        <td>S</td>
        <td>USD</td>
        <td>100.00</td>
        <td>1.2174000</td>
        <td>EUR</td>
        <td>02/24/2017</td>
        <td>Auto</td>
        <td>Hayes Julie</td>
        <td>STATEU</td>
        <td>FXCL20</td>
        <td>Trade Booked</td>
        <td>false</td>
        <td>02/22/17</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="row">
  <div class="well">2 Quote(s) 2174615</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Detail</th>
        <th>Quote</th>
        <th>BidMarket Allin</th>
        <th>BidCust Allin</th>
        <th>AskMarket Allin</th>
        <th>AskCust Allin</th>
        <th>Executable</th>
        <th>Auto</th>
        <th>Source</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a>217</a></td>
        <td>41224975</td>
        <td>FX</td>
        <td>A1132745</td>
        <td>S</td>
        <td>USD</td>
        <td>100.00</td>
        <td>1.2174000</td>
        <td>EUR</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="row">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-6">
                      Session Id
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Trade Id
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      CMNE
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                   <div class="row">
                    <div class="col-sm-6">
                     Product
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                   </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Price Type
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Session State
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Numerator Ccy
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Denominator Ccy
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-sm-6">
                      Ccy1
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-sm-6">
                      Ccy2
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Market Convention
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Fixed Currency
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Fixed Amount
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      USD Amount
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Value Date
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Value Date Tenor
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      Branch
                    </div>
                    <div class="col-sm-6">
                      2174614
                    </div>
                  </div>

                    <!--<p>Some text in the modal.</p>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
  </div>
</div>
