<div class="container footer__ts2">
  <div class="footer__ts2__nav">
    <ul class="footer__ts2__menu">
      <li class="footer__ts2__menu__list"><a class="footer__ts2__menu__list--link footer__ts2__menu__list--link--first" target="_blank" href="http://www.verizon.com">Verizon.com</a></li>
      <li class="footer__ts2__menu__list"><a class="footer__ts2__menu__list--link footer__ts2__menu__list--link--last" target="_blank" href="http://www.verizonwireless.com">Verizonwireless.com</a></li>
    </ul>
    <ul class="footer__ts2__sn">
      <li class="footer__ts2__sn__list">
      	<a class="footer__ts2__sn__list--link" target="_blank" href="http://www.linkedin.com/company/1094?trk=tyah"><span class="footer__ts2__sn--icon icon-linkedin-circle"></span></a>
      </li>
      <li class="footer__ts2__sn__list">
      	<a class="footer__ts2__sn__list--link" target="_blank" href="https://twitter.com/vzenterprise"><span class="footer__ts2__sn--icon icon-twitter-circle"></span></a>
      </li>
      <li class="footer__ts2__sn__list">
      	<a class="footer__ts2__sn__list--link" target="_blank" href="https://www.facebook.com/VerizonEnterprise"><span class="footer__ts2__sn--icon icon-fb-circle"></span></a>
      </li>
      <li class="footer__ts2__sn__list footer__ts2__sn__list--last">
      	<a class="footer__ts2__sn__list--link" target="_blank" href="http://www.youtube.com/user/verizonenterprise"><span class="footer__ts2__sn--icon icon-youtube-circle"></span></a>
      </li>
    </ul>
  </div>
  <div class="footer__ts2__copy">
    <span class="copy footer__ts2__copy--copyright">&#169; 2016 VERIZON. All Rights Reserved</span>
  </div>
</div>
