.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }


// MARGIN LEFT - NEGATIVE
.ml-5 { margin-left: -5px; }
.ml-10 { margin-left: -10px; }
.ml-15 { margin-left: -15px; }

// MARGIN LEFT - POSITIVE
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }

// MARGIN RIGHT - NEGATIVE
.mr-15 { margin-right: -15px; }
.mr-20 { margin-right: -20px; }

// MARGIN RIGHT - POSITIVE
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
