// $green-light: 						 #81ccaa;

.form__ts2 {
	&--header {
		color: $red;
	}
	&--icon {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		&.alert {
			span {
				color: $red;
			}
		}
		span {
			font-size: 8rem;
			color: $green-light;
		}
	}
	&--label {
		font-weight: 500;
		font-size: 1.7rem;
	}
	&--formControl {
		min-height: 40px;
		border-radius: 0;
		font-size: 1.7rem;
		color: $black42;
		&::-moz-placeholder {
 		 color: $black20;
		}
	}
	&__alert {
		margin-bottom: 10px;
		padding: 10px 15px;
		&--icon {
			margin-right: 5px;
			font-size: 17px;
		}
	}
	&--errormsg {
		color: $red;
		font-weight: 500;
		&--paragraph {
			margin-top: 4px;
		}
	}
	&__checkbox {
		margin: 5px 0 10px;
		display: inline-block;
		input[type="checkbox"]:checked + label:before {
			padding-left: 3px;
		}
		&--input {
		  display: none;
		  + .form__ts2__checkbox--label:before {
			  content: '';
			  background: $white;
			  border: 1px solid $black20;
			  display: inline-block;
			  vertical-align: middle;
			  width: 30px;
			  height: 30px;
		  	font-size: 21px;
				top: -1px;
			}
		}
		&--text {
			margin-left: 5px;
		}
		&--label {
		  position: relative;
		  vertical-align: middle;
		  cursor: pointer;
		}
	}
	&__activation {
		text-align: center;
		.form__ts2--paragraph {
			margin: 0 auto;
			max-width: 80%;
		}
		.btn__ts2__wrapper {
			margin-top: 15px;
		}
		.btn__ts2 + .btn__ts2 {
	    margin-left: 50px;
		}
	}
}
	


// RESPONSIVE STYLES FOR COMPONENT GO HERE
@media (max-width: 767px) {
	.form__ts2 {
		&--label {
	    font-size: 1.4rem;
		}
		&__checkbox {
			display: block;
			text-align: center;
			&--text {
		    display: inline-block;
			}
		}
		.btn__ts2__wrapper {
			text-align: center;
			&--right {
				// margin-top: 10px;
				margin: 10px auto 20px;
				display: block;
			}
		}
	}
}



// .section__ts2 {
// 	&__form {
// 		&--header {
// 			color: $red;
// 		}
// 		&--icon {
// 			margin: 0 auto;
// 			padding: 0;
// 			text-align: center;
// 			&.alert {
// 				span {
// 					color: $red;
// 				}
// 			}
// 			span {
// 				font-size: 8rem;
// 				color: $green-light;
// 			}
// 		}
// 		&--label {
// 			font-weight: 500;
// 			font-size: 1.7rem;
// 		}
// 		&--formControl {
// 			min-height: 40px;
// 			border-radius: 0;
// 			font-size: 1.7rem;
// 			color: $black42;
// 			&::-moz-placeholder {
//    		 color: $black20;
// 			}
// 		}
// 		&__alert {
// 			margin-bottom: 10px;
// 			padding: 10px 15px;
// 			&--icon {
// 				margin-right: 5px;
// 				font-size: 17px;
// 			}
// 		}
// 		&--errormsg {
// 			color: $red;
// 			font-weight: 500;
// 			&--paragraph {
// 				margin-top: 4px;
// 			}
// 		}
// 		&__checkbox {
// 			margin: 5px 0 10px;
// 			display: inline-block;
// 			&--input {
// 			  display: none;
// 			  + .section__ts2__form__checkbox--label:before {
// 				  content: '';
// 				  background: $white;
// 				  border: 1px solid $black20;
// 				  display: inline-block;
// 				  vertical-align: middle;
// 				  width: 30px;
// 				  height: 30px;
// 				}
// 				&:checked + .section__ts2__form__checkbox--label:after {
// 					content: "\e013";
// 					top: 5px;
// 					left: 4px;
// 					line-height: 1;
// 					font-size: 2rem;
// 					position: absolute;
// 					color: $black20;
// 					font-family: 'Glyphicons Halflings';
// 				}
// 			}
// 			&--text {
// 				margin-left: 5px;
// 			}
// 			&--label {
// 			  position: relative;
// 			  vertical-align: middle;
// 			  cursor: pointer;
// 			}
// 		}
// 		&__activation {
// 			text-align: center;
// 		}
// 	}
// }