@import "sass/ts2-mixins";
@import "sass/ts2-variables";
@import "sass/ts2-base";
@import "sass/ts2-margins";
@import "sass/ts2-paddings";
@import "sass/ts2-global";
@import "sass/icons";
@import "sass/ts2-buttons";
@import "sass/ts2-fonts";
@import "sass/ts2-navbar";
@import "sass/ts2-footer";
@import "sass/ts2-forms";

.table-fixed tbody {
  height: 500px;
  overflow-y: auto;
  width: 100%;
}


